micronaut:
  application:
    name: StarForks
  server:
    cors:
      enabled: true
      configurations:
        web:
          allowedOrigins:
            - ${ALLOWED_ORIGIN:`http://localhost`}

datasources:
  default:
    url: ${JDBC_URL:`jdbc:postgresql://db:5432/starforks`}
    username: ${JDBC_USER:admin}
    password: ${JDBC_PASSWORD:admin}
    driverClassName: ${JDBC_DRIVER:org.postgresql.Driver}

flyway:
  datasources:
    default:
      enabled: true