name: Push docker image on main
on:
  push:
    branches: [ 'main' ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  mvn-jib-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '16'

      - name: Build and push docker images with jib
        run: |
          mvn compile -B -q jib:build \
              -Djib.to.image=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest \
              -Djib.to.auth.username=${{ github.actor }} \
              -Djib.to.auth.password=${{ secrets.GITHUB_TOKEN }}
